<section class="background-green text-light text-center py-5 d-flex align-items-center">
    <div class="container">
        <h2 class="text-uppercase">about component</h2>
        <app-section-line></app-section-line>
        <div class="row">
            <p class="col-md-6">Freelancer is a free bootstrap theme created by Route. The download includes the
                complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                customization.</p>
            <p class="col-md-6">Freelancer is a free bootstrap theme created by Route. The download includes the
                complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                customization.</p>
        </div>
    </div>
</section>