/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
  -moz-appearance: textfield;
}

:host ::ng-deep .custom {
    background-color: var(--dark-color);
}

input {
    position: relative;
}

label {
    color: #1ABC9C;
    position: relative;
    transform: translateY(110%);
    transition: all .5s;
}

label:has(+ input:focus:not(:placeholder-shown)) {
    transform: translateY(0%);
}

input:focus {
    box-shadow: none;
}