<section class="text-center py-5">
    <h2 class="text-uppercase fw-bold">portfolio component</h2>

    <app-section-line></app-section-line>
    
    <div class="container">
        <div class="row g-4">
            <div class="col-md-4">
                <div class="inner rounded-3 overflow-hidden position-relative">
                    <img src="../../assets/images/poert1.png" class="w-100">
                    <div class="layer position-absolute top-0 start-0 end-0 bottom-0 text-light d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner rounded-3 overflow-hidden position-relative">
                    <img src="../../assets/images/port2.png" class="w-100">
                    <div class="layer position-absolute top-0 start-0 end-0 bottom-0 text-light d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner rounded-3 overflow-hidden position-relative">
                    <img src="../../assets/images/port3.png" class="w-100">
                    <div class="layer position-absolute top-0 start-0 end-0 bottom-0 text-light d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner rounded-3 overflow-hidden position-relative">
                    <img src="../../assets/images/poert1.png" class="w-100">
                    <div class="layer position-absolute top-0 start-0 end-0 bottom-0 text-light d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner rounded-3 overflow-hidden position-relative">
                    <img src="../../assets/images/port2.png" class="w-100">
                    <div class="layer position-absolute top-0 start-0 end-0 bottom-0 text-light d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner rounded-3 overflow-hidden position-relative">
                    <img src="../../assets/images/port3.png" class="w-100">
                    <div class="layer position-absolute top-0 start-0 end-0 bottom-0 text-light d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>