/* You can add global styles to this file, and also import other style files */
:root {
    --light-color: #ffffff;
    --dark-color: #2C3E50;
}

p {
    margin-bottom: 0;
}



.background-green {
    background-color: #1ABC9C;
}